{% extends "main/base.html" %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
    <!-- Cписок задач c кнопкой добавления-->
    <h1>Задачи</h1>
    <form method="post" action="">
        <input required type="text" maxlength=80 name="newtask">
        <button type="submit">Добавить задачу</button>
    </form>
    <ul>
        {% for task in actual_tasks %}
            <li>
                <form method="post"> 
                    {{ task.taskname }}
                    <button name="taskoff" value={{ task.id }}>
                        Завершить
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
    
    <!-- Завершённые задачи -->
    <h1>Завершённые задачи</h1>
    <form method="post">
        <button name="clear_finished_tasks" value=True>Очистить</button>
    </form>
    <ul>
        {% for task in completed_tasks %}
            <li>{{ task.taskname }}</li>
        {% endfor %}
    </ul>
{% endblock content %}