{% extends "main/base.html" %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
    <!-- Cписок задач c кнопкой добавления-->
    <h1>Задачи</h1>
    <form method="get">
        <input required type="text" maxlength=80>
        <button>Добавить задачу</button>
    </form>
    <ul>
        {% for task in actual_tasks %}
            <li>{{ task.taskname }}</li>
        {% endfor %}
    </ul>
    <!-- Завершённые задачи -->
    <h1>Завершённые задачи</h1>
    <ul>
        {% for task in completed_tasks %}
            <li>{{ task.taskname }}</li>
        {% endfor %}
    </ul>
{% endblock content %}